h1 {
  color: rgb(51, 94, 172);
}

h2 {
  color: crimson;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

#banner,
banner {
  background-color: darkkhaki;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

#banner p {
  margin: 0;
}

#nav,
nav {
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
}

#nav a,
nav a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  margin-right: 12px;
  padding: 12px;
}

#nav a:hover,
nav a:hover {
  background-color: skyblue;
}

#footer,
footer {
  background-color: #e7e9eb;
  min-height: 150px;
  text-align: center;
}

#footer a,
footer a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 12px;
}

#main,
main {
  width: 80%;
  margin: 0 auto;
}
