h1 {
  color: rgb(51, 94, 172);
}

h2 {
  color: crimson;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

#banner,
banner {
  background-color: darkkhaki;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

#banner p {
  margin: 0;
}

#nav,
nav {
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
}

#nav a,
nav a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  margin-right: 12px;
  padding: 12px;
}

#nav a:hover,
nav a:hover {
  background-color: skyblue;
}

#footer,
footer {
  background-color: #e7e9eb;
  min-height: 150px;
  text-align: center;
}

#footer a,
footer a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 12px;
}

#main,
main {
  width: 80%;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 10px;
  text-align: center;
  font-size: large;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

label {
  font: 0.8em 'typewriter', sans-serif;
}

textarea {
  display: block;

  padding: 10px;
  margin: 10px 0 0 -10px;
  width: 50%;
  height: 90%;

  border-right: 1px solid;

  /* resize  : none; */
  overflow: auto;
}

button {
  padding: 5px;
  font: bold 0.9em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
}

button:after {
  content: ' >>>';
}

button:hover,
button:focus {
  outline: none;
  background: #000;
  color: #fff;
}
